html {
  font-size: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  background-color: #4f4ca8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.grid-container input {
  width: 100%;
  height: 70px;
  font-size: 4rem;
  text-align: right;
  padding-right: 10px;
}

.grid-container #displayTotal {
  margin-bottom: 5px;
}

.grid-keys {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  gap: 8px;
  padding: 5px;
}

button {
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1b2a2c;
  color: #ffffff;
}

button:active {
  background-color: #556b79;
  font-size: 1.8rem;
  margin-left: 2px;
  margin-right: 2px;
}

.grid-keys .equal {
  grid-row-end: span 3;
}
