.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grid-container #zero {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-container #displayTotal {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-container #displaySequence {
  grid-column-start: 1;
  grid-column-end: 5;
}
